<div id="tabs">
  <ul>
    <% @lists.each_with_index do |list, counter| %>
      <li><a href="#tabs-<%= counter %>"><%= list.name %></a></li>
    <% end %>
    <li><a href="#tabs-new-list">Add List +</a></li>
  </ul>

  <% @lists.each_with_index do |list, counter| %>
    <div id="tabs-<%= counter %>" class="tab">
      <div class="new-task">
        <form action="/tasks" method="post" name="new_task">
          <input type="hidden" name="task[list_id]" value="<%= list.id %>" />
          <input type="hidden" name="task[completed]" value="" />
          <div class="split-fields">
            <div class="field">
              <div class="input string required">
                <input siz="50" required="required" type="text" name="task[name]" value="" label="false" placeholder="Enter a new task"/>
              </div>
            </div>

            <div class="button">
              <input type="submit" name="Add Task" value="submit" />
            </div>
          </div>
        </form>
      </div>

      <ul class="tasks pending-tasks">
        <% list.unfinished_tasks.each do |task| %>
          <form action="/lists/<%= list.id %>/tasks/<%= task.id %>" method="put">
            <li>
              <input class="box" type="checkbox" name="task[done]" value="false" label="false" />
              <input type="hidden" name="task[list_id]" value="<%= list.id %>" />
              <%= task.name %>
              <p class="delete-task"><a href="/lists/<%= list.id %>/tasks/<%= task.id %>" data-confirm="Are you sure?" data-method="delete">X</a></p>
            </li>
          </form>
        <% end %>
      </ul>

      <ul class="tasks finished-tasks">
        <% list.completed_tasks.each do |task| %>
          <li class="finished">
            <p><%= task.name %></p>
            <p class="delete-task"><a href="/lists/<%= list.id %>tasks/<%= task.id %>" method="delete">X</a></p>
          </li>
        <% end %>
      </ul>

      <p class="delete-list ">
        <a href="/lists/<%= list.id %>" data-method="delete" data-confirm="Are you sure?">Delete this list</a>
      </p>
    </div>
  <% end %>

  <div id="tabs-new-list">
    <h2>Add a New Task List</h2>
    <form action="/lists" method="post">
      <div class="split-fields">
        <div class="field">
          <input type="text" placeholder="Name" name="list[name]" value="" />
        </div>
        <div class="button">
          <input type="submit" name="Add List" value="Add List" />
        </div>
      </div>
    </form>
  </div>
</div>

